[run]
timid = True
coroutine = gevent

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    except AttributeError
    except ValueError
    except KeyError
    except RuntimeError
    except SystemExit
omit = workbench/clients/workbench_shell.py
