*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# iPython temp files
.ipynb_checkpoints

# Mac DS files
.DS_Store

# ReadTheDocs build directory
_build

# Local Configuration files
config.ini

# Ignore pulled data 
workbench/data/memory_images
