<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PCAP Report</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
    html,
    body { height:100% }
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="page-header">
        <h1>PCAP Report</h1>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <ul class="nav nav-pills nav-stacked" role="tablist">
            {% for result in results %}
              <li {% if loop.first %}class="active"{% endif %}>
                <a role="tab" href="#{{result['filename']|replace('.','')}}" data-toggle="pill">
                  {{result['filename']}}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-lg-9 tab-content">
          {% for result in results %}
          <div id="{{result['filename']|replace('.','')}}" class="tab-pane {% if loop.first %}active{% endif %}">
              <div>
                <pre>{{ result['meta']|pprint }}</pre>
              </div>
              
              <h4>Bro Logs</h4>
              <div>
                <ul>
                  {% for name, md5 in result['view_pcap']['bro_logs'].items() %}  
                  <li>{{name}}&nbsp;&nbsp;&nbsp;<a href="/md5/{{md5}}">{{md5}}</a></li>
                  {% endfor %}
                </ul>
                <br>
                {% if result['view_pcap']['extracted_files'] %}
                <h4>Extracted Files</h4>
                <br>
                <div>
                  <ul>
                  {% for md5 in result['view_pcap']['extracted_files'] %}
                    <li><a href="/md5/{{md5}}">{{md5}}</a></li>
                  {% endfor %}
                  </ul>
                </div>
                {% endif %}
              </div>
              
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="footer">
          <p>&copy; Company 2014</p>
        </div>
      </div>

    </div> <!-- /container -->

    <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
